extends layout

block content
	.container
		h1 That movie is not available
		if access_token
			a.btn.btn-outline-primary.mt-3.ml-5(href='/home' + access_token, role='button') Do another search
		else
			a.btn.btn-outline-primary.mt-3.ml-5(href='/home', role='button') Do another search

