extends layout

block content
  .container
      .jumbotron.mt-5
        h1.display-4 Welcome!
        p.lead Type in the name of a movie to get the soundtrack and movie information
        hr.my-4
        form(action="/spotify/movie/" + access_token, method="get")
          label(for='title') Enter a movie name
          .input-group.mb-3
            .input-group-prepend
              span#basic-addon3.input-group-text Ex: Godzilla
            input#title.form-control(type="text", name="title", aria-describedby='basic-addon3')
          input.btn.btn-primary.btn-lg(type='submit', value='Submit')


